/UniversityLecture.Core/bin
/UniversityLecture.Core/obj
/UniversityLecture.DAL/bin
/UniversityLecture.DAL/obj
/UniversityLecture.Repo/bin
/UniversityLecture.Repo/obj
/UniversityLecture.Web/bin
/UniversityLecture.Web/obj
/UniversityLecture.Bll/bin
/UniversityLecture.Bll/obj
/UniversityLecture.Bll.Test/bin
/UniversityLecture.Bll.Test/obj
/UniversityLecture.Web.Test/bin
/UniversityLecture.Web.Test/obj
/.vs